input{
  display: inline-block;
  border: none;
  border-bottom: solid 2px #cecece;
  padding: 0px 10px 10px;
  margin: 0px 5% 25px;
  font-size: 20px;
  color: #333;
  transition: 0.3s;
  width: 90%;
  box-sizing: border-box;
}
input:hover{
  border-color: #aaa;
}
input:focus{
  outline: none;
  border-color: #777;
}
.all{
  width: 100%;
  display: inline-block;
}
.half{
  width: 47.5%;
  display: inline-block;
}